@import "lato.css";
/*get-quotes*/
*{
    margin: 0;
    padding: 0;
}
.get-quotes{
    background-color: #f06c64;
    box-shadow: 0 5px #ea676b;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
}
.wrapper-quotes{
    padding-left: 40px;
    padding-top: 67px;
    padding-bottom: 68px;
}

.get-quotes h2{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: 'Lato';
}

.get-quotes p.description{
    margin-top: 29px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: 'Lato-Light';

}
.forms{
    margin-top: 43px;
    display: flex;
}

.forms form input{
    display: block;
    margin-bottom: 14px;
    padding: 9px 0;
    width: 619px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    background-color: #d6564f;
    border: 0px solid #d6564f;
    font-family: "Lato";
}
.forms form textarea{
    width: 619px;
    padding: 10px 0;
    padding-bottom: 163px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 0px solid #d6564f;
    resize: none;
}
::-webkit-input-placeholder { /* Edge */
    color: #f48c8f;
    padding-left: 14px;
    font-size: 12px;
  }
  :-ms-input-placeholder { /* Internet Explorer */
    color: #f48c8f;
    padding-left: 14px;
    font-size: 12px;
    word-spacing: 0px;
}
  
  ::placeholder {
    color: #f48c8f;
    padding-left: 14px;
    font-size: 12px;
    word-spacing: 0px;
  }

  .form-contact-info{
    padding-left: 20px;
    color: #f0d8d9; 
}
.form-contact-info p{
    padding-top: 5px;
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    text-align: justify;
}

.form-contact-info ul{
    margin-top: 25px;
    margin-left: 3px;
    list-style: none;
    font-size: 15px;
}

.form-contact-info li{
    padding-bottom: 3px;
}
.form-contact-info img{
    padding-right: 10px;
}
.form-contact-info a{
    text-decoration: none;
}
.form-contact-info a:hover, .form-contact-info a:visited, .form-contact-info a:active {
    text-decoration: none;
    color: #f0d8d9;
}

/*footer*/

.footer{
    background-color: #2d303a;
    color: #666d89;
    font-family: 'Lato';

}
.wrapper-footer{
    padding-bottom: 22px;
    font-size: 12px;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul{
    list-style: none;
}
.footer .copyright{
    padding-top: 14px;
    padding-left: 25px;
}
.footer .social-media__icon{
    display: flex;
    align-items: left;
    padding-top: 3px;
    padding-right: 52px;
}
.footer .social-media__icon li{
    margin-top: 18px;
}
.footer .social-media__icon img{
    margin-right: 5px;
    padding: 0;
}