@import "lato.css";
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    padding: 0;
    width: 1020px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*header*/

.header{
    height: 95px;
    color: white;
    background-color: #2d303a;
    box-shadow: 0px 6px #323746;
}

.header .logo{ 
    font-family: 'Lato-Bold', Arial, Helvetica, sans-serif;
    margin-left: 40px;
    margin-top: 34px;
    font-size: 24px;
    line-height: 23px;
    width: 115px;
    color: white;
    font-weight: 700;
}
.logo__text__colored {
    color: #f06c64;
  }

.header__navigation ul{
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    margin-top: 45px;
    width:371px;
    justify-content: space-between;
    color: #323746;
}
.header__navigation li {
    font-size: 12px;
    line-height: 8px;
    font-family: "Lato-Light";
    
}
.header__navigation a:link, .header__navigation a:visited {
    color: white;
    text-decoration: none;
}
a.active:link , a.active:visited{
    color: #f06c64;
}
.header__navigation a:hover{
    color: #f06c64;
}

/*slider*/

.slider{
    height: 600px;
    background-color: #f06c64;
    box-shadow: 0px 5px #ea676b;
}

.left-cursor{
    position: relative;
    left:43px;
    top:280px;
}
.iphone-vertical{
    position: relative;
    left:8px;
    top:52px;

}
.iphone-horizontal{
    position: relative;
   left:-7px;
   top:173px;
}

.right-cursor{
    position: relative;
    right: 43px;
    top: 280px;
}

/* services */
.services{
    height: 502px;
    background-color: #f2f2f2;
}

.services__block h2{
    margin-left: 40px;
    margin-top: 68px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: bold;
}

.services__block .services__description{
    margin-left: 41px;
    margin-top: 30px;
    font-family: "Lato-Light";
    word-spacing: 3px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;  
}

.services__info{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__info div{
    margin-top: 46px;
    margin-right: 15px;
    margin-bottom: -10px;
    width: 305px;
    height: 86px;
    
}

.services__info img{
 float: left;   
 margin-right: 20px;
 margin-bottom: 25px;
}
.services__info h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
}
.services__info p{
    font-family: "Lato-Regular";
    margin-top: 5px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
}